@page "/goods"

<PageTitle>UI | Goods</PageTitle>

<section class="h-full grid grid-cols-6">
  <div class="@Cx(@Color.Primary["bg", 2], "h-full py-4 px-2 flex flex-col gap-4")">
    <Title>Wyszukiwanie Dóbr</Title>
    <TextField Icon="IconType.Magnifier" Label="Szukaj..." Value="@_searchValue"/>
    <Divider/>
    <SelectField Icon="IconType.Filter" Label="wymogi">
      <option value="low">Niskie</option>
      <option value="medium">Średnie</option>
      <option value="high">Wysokie</option>
    </SelectField>
    <SelectField Icon="IconType.Filter" Label="dekadencja">
      <option value="low">Niska</option>
      <option value="medium">Średnia</option>
      <option value="high">Wysoka</option>
    </SelectField>
    <SelectField Icon="IconType.Filter" Label="oporność">
      <option value="low">Niska</option>
      <option value="medium">Średnia</option>
      <option value="high">Wysoka</option>
    </SelectField>
  </div>
  <div class="h-full px-48 py-8 col-span-5 flex flex-col gap-2">
    <Card Color="Color.Secondary" Class="p-4 h-[800px] content-baseline grid grid-cols-3 gap-x-4 gap-y-2 py-4 px-2 h-full overflow-y-auto">
      @foreach (var item in Items) {
        <GoodCard/>
      }
    </Card>
    <div class="mt-auto flex gap-2 justify-center items-center p-2">
      <Icon Class="m-auto" Type="IconType.DownChevron" Color="Color.Secondary" Interactive></Icon>
      <button class="place-self-end">
        <Card Class="w-48" Color="Color.Secondary">
          <Typography Interactive Bold Uppercase>Dodaj</Typography>
        </Card>
      </button>
    </div>
  </div>
</section>

@code {
  private List<object> Items => new() {
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
  };

  private string _searchValue = null!;
}
