@page "/goods"

<PageTitle>pw-2022 | Goods</PageTitle>

<section class="h-full grid grid-cols-6">
  <div class="@Cx(@Color.Primary["bg", 2], "h-full py-4 px-2 flex flex-col gap-4")">
    <TextField Icon="IconType.Magnifier" Label="Szukaj..." Value="@SearchValue"/>
    <Divider/>
    <SelectField Icon="IconType.Filter" Label="Wartość rasy">
      <option value="low">niskie</option>
      <option value="medium">średnie</option>
      <option value="high">wysokie</option>
    </SelectField>
    <SelectField Icon="IconType.Filter" Label="Czy rasa jest przydatna">
      <option value="low">niskie</option>
      <option value="medium">średnie</option>
      <option value="high">wysokie</option>
    </SelectField>
    <SelectField Icon="IconType.Filter" Label="Lubi lewd :3???">
      <option value="low">niskie</option>
      <option value="medium">średnie</option>
      <option value="high">wysokie</option>
    </SelectField>
  </div>
  <div class="h-full col-span-5 flex flex-col gap-2">
    <div class="h-[800px] content-baseline grid grid-cols-3 gap-x-4 gap-y-2 py-4 px-2 h-full overflow-y-auto">
      @foreach (var item in Items) {
        <GoodCard/>
      }
    </div>
    <div class="mt-auto flex gap-2 justify-center items-center p-2">
      <Icon Class="m-auto" Type="IconType.DownChevron" Color="Color.Secondary" Interactive></Icon>
      <button class="place-self-end">
        <Card Class="w-48" Color="Color.Secondary">
          <Typography Interactive Bold Uppercase>Dodaj</Typography>
        </Card>
      </button>
    </div>
  </div>
</section>

@code {
  private List<object> Items => new() {
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
    new { },
  };

  private string SearchValue = null!;
}
