@page "/"

<PageTitle>UI | Encyclopedia</PageTitle>

<div class="px-2 py-4 flex flex-col gap-2">
  <Card>
    <CardHeader>@header</CardHeader>
    <Typography>
      Aplikacja zaliczeniowa utworzona na rzecz przedmiotu <strong>Programowanie Wizualne</strong>.
    </Typography>
    <Typography>
      Jest to encyklopedia pozwalająca na katalogowanie wystepujących ras oraz produktów, ktore te rasy są w stanie wytworzyć.
    </Typography>
  </Card>
  <Card Color="Color.Secondary">
    <NavLink href="goods">
      <Typography Interactive Class="flex">
        <Icon Size="Size.Sm" Type="IconType.RightChevronDouble"/>
        Przejdź do katalogu&nbsp;
        <strong>
          Dóbr
        </strong>
        .
      </Typography>
    </NavLink>
  </Card>
  <Card Color="Color.Secondary">
    <NavLink href="races">
      <Typography Interactive Class="flex">
        <Icon Size="Size.Sm" Type="IconType.RightChevronDouble"/>
        Przejdź do katalogu&nbsp;
        <strong>
          Ras
        </strong>
        .
      </Typography>
    </NavLink>
  </Card>
</div>
<Icon Type="IconType.X" Interactive OnClick="ToggleOpen"/>
<Modal Class="h-48" IsOpen="@IsOpen">
  <ModalHeader OnClose="ToggleOpen">Tytuł Modala</ModalHeader>
  <ModalActions>
    <Card>123</Card>
    <Card>123</Card>
  </ModalActions>
</Modal>

@code {
  private readonly RenderFragment header = @<Title>Encyklopedia występowania</Title>;
  private bool IsOpen { get; set; } = true;
  private void ToggleOpen() => IsOpen = !IsOpen;
}
