@page "/races/{Name}"
@using DataModels.Races
@using Services.Races
@using DataModels.Goods
@inject IRaceService RaceService
@inject NavigationManager NavManager


@if (Resource is null) {
  <LoadingBarrier/>
} else {
  <PageTitle>UI | @Resource.Name | Rasa</PageTitle>

  <div class="flex w-full h-1/2 items-center justify-center">
    <RaceCard Class="w-1/2" Race="Resource" GoBackLink/>
  </div>
}


@code {
  [Parameter, EditorRequired]
  public string Name { get; set; } = null!;

  private RaceResourceWithProducts<GoodResource>? Resource { get; set; }

  protected override async Task OnInitializedAsync() {
    Resource = await RaceService.ReadWithProducts(Name.Replace('_', ' '));
    if (Resource is null) NavManager.NavigateTo("404");
  }
}
