@using DataModels.Goods
@using DataModels.Races
@using Bogus.DataSets
<Card Class="@Class">
  <CardHeader>
    <div class="flex w-full items-center gap-2">
      <div class="flex gap-0.5 ml-auto">
        <button>
          <Icon Type="IconType.Pen" Size="Size.Sm" Interactive/>
        </button>
        <button>
          <Icon Type="IconType.Bin" Size="Size.Sm" Interactive/>
        </button>
      </div>
    </div>
  </CardHeader>
  <Title>Dobro - @Good.Name</Title>
  <div class="flex flex-col gap-2">
    <Card Color="Color.Secondary" Shade="5" Class="justify-center items-center max-w-16 max-h-16">
      <div class="aspect-square flex items-center justify-center">
        <Icon Type="IconType.Sun" Size="Size.Lg"/>
      </div>
    </Card>
    <Typography Overflow OverflowLines="5">
      @Good.Description
    </Typography>
  </div>
</Card>

@code {
  [Parameter, EditorRequired]
  public GoodResource Good { get; set; } = null!;
  [Parameter]
  public List<RaceResource>? Producers { get; set; }
  [Parameter]
  public string? Class { get; set; }
}
