@inject ToastService ToastService
@using UI.Data
<Modal Class="w-[600px]" IsOpen="@IsOpen">
  <ModalHeader OnClose="OnClose">
    <Title>
      @(_isEdit ? $"Edycja rasy {_name}" : "Dodawanie nowej rasy")
    </Title>
  </ModalHeader>
  <RaceForm Initial="@Initial" @ref="Form"/>
  <ModalActions>
    <Button Type="submit" Form="race-form" OnClickAsync="Submit">
      @(_isEdit ? "Edytuj" : "Dodaj")
    </Button>
  </ModalActions>
</Modal>

@code {
  [Parameter]
  public object? Initial { get; set; }

  [Parameter, EditorRequired]
  public bool IsOpen { get; set; }

  [Parameter, EditorRequired]
  public Action OnClose { get; set; } = null!;

  [Parameter, EditorRequired]
  public Action OnConfirm { get; set; } = null!;

  private async Task Submit() {
    await Form.OnSubmit();
    if (Form.IsValid) OnConfirm();
  }

  private RaceForm Form { get; set; } = null!;

  private string? _name => Initial?.Access<string>("Name");
  private bool _isEdit => Initial is not null;
}
