@using UI.Data
@inject ToastService Service

<div class="container">
  @foreach (var toast in Service.Toasts) {
    <div @onclick="@(() => Service.RemoveAsync(toast))"
         class="@Cx("toast", toast.IsVisible ? "flex" : "hidden", toast.Type.Name, toast.IsEntering ? In : Out)">
      @toast.Message
      <div class="progress"></div>
    </div>
  }
</div>

@code {
  protected override void OnInitialized() => Service.ToastsStateChanged += StateHasChanged;

    private const string In = "bounce-in-right";
    private const string Out = "bounce-out-right";
}
