@using pw_2022.Shared.Types
@inject NavigationManager NavManager

<div class="flex gap-2 items-center">
  <NavLink href="/">
    <Icon Class="p-1.5" Type="IconType.Home" Interactive/>
  </NavLink>
  <Typography Color="Color.Secondary" Shade="4" Unselectable>|</Typography>
  @foreach (var (link, crumb) in Crumbs()) {
    <Typography Color="Color.Accent" Shade="@selected(crumb)" Interactive>
      <NavLink href="@link">@crumb</NavLink>
    </Typography>
    <Typography Color="Color.Secondary" Shade="4" Unselectable>></Typography>
  }
</div>


@code {
  private IEnumerable<(string, string)> Crumbs() {
    var paths = NavManager.PathSegments();
    var result = new List<(string, string)>();

    var link = "";
    foreach (var path in paths) {
      link = $"{link}/{path}";
      result.Add((link, path));
    }
    if (result.Count == 0) result.Add(("/", "Home"));

    return result;
  }

  private int selected(string element) => NavManager.IsLastSegment(element) ? 2 : 0;
  protected override void OnInitialized() => NavManager.LocationChanged += (_, _) => StateHasChanged();
}
