@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using pw_2022.Shared.Types
@inject ProtectedLocalStorage Storage

<nav class="@Cx(width, Color.Primary["bg", 0], "flex flex-col gap-2 transition-all p-1")">
  <button class="@placeSelf" @onclick="ToggleNavBar">
    <Icon Type="IconType.Burger"/>
  </button>
  <NavigationItem To="races" Icon="IconType.Person">
    @(_expanded ? "Races" : null)
  </NavigationItem>
  <NavigationItem To="goods" Icon="IconType.Stack">
    @(_expanded ? "Goods" : null)
  </NavigationItem>
</nav>

@code {
  private string width => _expanded ? "w-48" : "w-16";
  private string placeSelf => _expanded ? "place-self-end" : "place-self-center";

  private bool _expanded = false;
  private async Task ToggleNavBar() {
    _expanded = !_expanded;
    await Storage.SetAsync(nameof(_expanded), _expanded);
  }
  protected override async Task OnInitializedAsync() {
    var result = await Storage.GetAsync<bool>(nameof(_expanded));
    if (result.Success) _expanded = result.Value;
  }
}
