@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@code {
}

<nav class="w-full transition-all bg-slate-200 p-1 flex flex-col gap-2">
  <button class="place-self-end">
    <Icon Type="IconType.Burger"/>
  </button>
  <NavigationItem To="vendors" Icon="IconType.Person">
    Vendors
  </NavigationItem>
  <NavigationItem To="products" Icon="IconType.Stack">
    Products
  </NavigationItem>
</nav>
