@inherits Component

<section
  class="@Cx("flex flex-col gap-2 p-2", Color["bg", Shade], border, borderTop, hoverable, Class)"
  @onclick="(e) => OnClick()">
  @ChildContent
</section>

@code {
  [Parameter]
  public int Shade { get; set; } = 1;
  [Parameter]
  public Action OnClick { get; set; } = () => { };
  [Parameter]
  public Color Color { get; set; } = Color.Shade;
  [Parameter]
  public bool NotHoverable { get; set; }
  [Parameter]
  public bool NoOverline { get; set; }

  private string? hoverable => !NotHoverable ? $"hover:shadow-lg transition-all hover:{Color["bg", Math.Min(Shade + 1, 9)]}" : null;
  private string border => $"shadow rounded {Color.Secondary["border", 8]}";
  private string? borderTop => NoOverline ? null : "border-t-2";
}
