@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace pw_2022.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <title>PW-2022 | Home</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="~/"/>
  <link href="css/index.css" rel="stylesheet"/>
  <link href="pw-2022.styles.css" rel="stylesheet"/>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <component type="typeof(HeadOutlet)" render-mode="Server"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="preload">
<component type="typeof(App)" render-mode="Server"/>
<script src="_framework/blazor.server.js"></script>
<script>
  setTimeout(() => document.body.removeAttribute("class"), 200);
</script>
</body>
</html>
