@page "/"

<PageTitle>pw-2022 | Encyclopedia</PageTitle>

<Card Header="@header">
  <Typography>
    Aplikacja zaliczeniowa utworzona na rzecz przedmiotu <strong>Programowanie Wizualne</strong>.
  </Typography>
  <Typography>
    Jest to encyklopedia pozwalająca na katalogowanie wystepujących ras oraz produktów, ktore te rasy są w stanie wytworzyć.
  </Typography>
  <Typography Interactive>
    Przejdź do katalogu
    <NavLink href="goods">
      <strong>
        dóbr
      </strong>
    </NavLink>
    .
  </Typography>
  <Typography Interactive>
    Przejdź do katalogu
    <NavLink href="goods">
      <strong>
        ras
      </strong>
    </NavLink>
    .
  </Typography>
</Card>

@code {
  private readonly RenderFragment header = @<Title>Encyklopedia występowania</Title>;
}
