@inherits LayoutComponentBase

<PageTitle>PW-2022 | Home</PageTitle>

<section class="transition-all flex w-full h-full">
  <NavigationBar/>
  <div class="transition-all flex flex-col w-full h-full">
    <header class="h-8 bg-slate-700 w-full h-full flex gap-2 items-center px-1">
      <Breadcrumbs/>
    </header>
    <main class="h-full bg-slate-300">
      @Body
    </main>
  </div>
</section>
