@inherits LayoutComponentBase

<PageTitle>PW-2022 | Home</PageTitle>

<section class="transition-all flex w-full h-full">
  <NavigationBar/>
  <div class="transition-all flex flex-col w-full h-full">
    <header class="@Cx(Color.Primary["bg", 7], "h-8 w-full h-full flex gap-2 items-center justify-between px-1 shadow")">
      <Breadcrumbs/>
      <a href="https://www.github.com/Mimikkk" target="_blank">
        <Icon Class="p-1.5" Type="IconType.Github" Interactive/>
      </a>
    </header>
    <main class="@Cx(Color.Primary["bg", 3], "h-full w-full")">
      @Body
    </main>
  </div>
</section>
