@inherits Component

@if (IsOpen) {
  <div Class="absolute flex justify-center items-center w-full h-full left-0 top-0 backdrop-blur">
    <Card Class="@Cx(Class)">
      @ChildContent
    </Card>
  </div>
}

@code {
  [Parameter]
  public bool IsOpen { get; set; }
  [Parameter, EditorRequired]
  public string Id { get; init; }
}
