input, textarea {
    background: inherit;
}

.group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 100%;

    cursor: text;
    min-height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: white;
    border-color: rgb(99 102 241);
    border-width: 1px;
    border-radius: 0.25rem;
}

.group:focus-within {
    outline: 1px solid;
}

.label {
    position: absolute;
    padding-left: 0.5rem;
    transition: all 200ms;
    border-radius: 0.25rem;
    left: 0;
    cursor: text;
    max-width: 100%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

textarea + .label {
    top: 0.5rem;
}

.group:focus-within .label, :is(input, textarea):not(:placeholder-shown) + .label {
    background: white;
    transform: translateY(-1rem);
    font-size: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    line-height: normal;
}

.group:focus-within .label, textarea:not(:placeholder-shown) + .label {
    transform: translateY(-1rem);
}

textarea {
    margin-top: 0.5rem;
    resize: none;
    overflow-y: auto;
    white-space: normal;
    height: 100%;
}

.group.optional .label:after {
    content: " *";
}

.group.optional {
    background: #fef9c3;
}

.optional:focus-within .label, .optional :is(input, textarea):not(:placeholder-shown) + .label {
    background: #fef9c3;
}
