.group {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    cursor: text;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: white;
    border-color: rgb(99 102 241);
    border-width: 1px;
    border-radius: 0.25rem;
}

.group:focus-within {
    outline: 1px solid;
}

.label {
    position: absolute;
    padding-left: 0.5rem;
    transition: all 200ms;
    background: white;
    border-radius: 0.25rem;
    left: 0;
    cursor: text;
    max-width: 100%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.group:focus-within .label, :not(input:placeholder-shown) + .label {
    transform: translateY(-1rem);
    font-size: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    line-height: normal;
}
