<nav class="@Collapsed bg-slate-400">
  <button @onclick="ToggleNavMenu">
    <Icon Name="Icon.IconType.Bin"/>
    toggle
  </button>
  <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
  </NavLink>
  <NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Counter
  </NavLink>
  <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
  </NavLink>
</nav>

@code {
  private bool collapseNavMenu = true;
  private string? Collapsed => collapseNavMenu ? "collapsed" : null;
  private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
