@using pw_2022.Shared.Types
<span class="@Cx(Color["text", Shade], interactive, overflow, capitalize, uppercase, bold, unselectable, Class)">@ChildContent</span>

@code {
  [Parameter]
  public Color Color { get; set; } = Color.Primary;

  [Parameter]
  public int Shade { get; set; } = 8;

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public string? Class { get; set; }

  [Parameter]
  public bool Overflow { get; set; }

  [Parameter]
  public bool Capitalize { get; set; }

  [Parameter]
  public bool Bold { get; set; }

  [Parameter]
  public bool Unselectable { get; set; }

  [Parameter]
  public bool Uppercase { get; set; }

  [Parameter]
  public bool Interactive { get; set; }

  private string? interactive => Interactive ? $"transition-all hover:{Color["text", Math.Min(Shade + 2, 9)]}" : null;
  private string? overflow => Overflow ? "text-ellipsis overflow-hidden" : null;
  private string? capitalize => Capitalize ? "capitalize" : null;
  private string? bold => Bold ? "font-bold" : null;
  private string? uppercase => Uppercase ? "uppercase" : null;
  private string? unselectable => Unselectable ? "select-none" : null;
}
